.togglemenu {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 0 2rem auto;
    justify-content: flex-end;
}
.togglemenu button {
    width: 50% !important;
}
.togglemenu .open {
    background: black;
    color: white;
    pointer-events: none;
}
.stylecalendar {
    position: relative;
    clear: both;
    height: calc(100vh - 360px);
    overflow: scroll;
}
.stylecalendar .stylecalendarinner {
    position: absolute;
    width: 100%;
}
.stylecalendar .open {
    visibility: visible;
}
.stylecalendar .hidden {
    visibility: hidden;
}

.calendarmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 110;
    background: white;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 50%;
    height: 80vh;
    overflow: scroll;
}
.calendarmodal .title {
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
}
.calendarmodal .ordercontent .ordercontentblock {
    display: block;
    margin: 0 0 10px;
}
.calendarmodal .ordercontent .ordercontentblock .ordercontentlabel {
    display: block;
    font-size: 1.0rem;
}
.calendarmodal .orderlist{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.0rem;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    box-sizing: border-box;
}
.calendarmodal .orderlist .orderlisttitle{
    width: 30%;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding: .5rem;
}
.calendarmodal .orderlist .orderlistname{
    width: 70%;    
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    margin: 0;
    padding: .5rem;
}
.calendarmodal .ordercontent .ordercontentblock .ordercontentinput,
.calendarmodal .ordercontent .ordercontentblock .pulldown {
    width: 100%;
    height: 40px;
}
.calendarmodal .ordercontent .btnblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0;
}
.calendarmodal .ordercontent .btnblock button {
    width: 230px;
    margin: 0 10px;
}
.calendarmodalbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 10;
    opacity: .7;
}

@media (max-width: 767px) {
    .calendarmodal {
        width: 90%;
    }
    .ordercontent .btnblock button {
        margin: 0 0 10px;
    }
    .togglemenu {
        width: 100% !important;
    }
}
